.screen {
  display: grid;
  grid-template-rows: 10Fr 80Fr 10Fr;
  grid-template-columns: 35fr 30fr 35fr;

}

.calculator {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid blue;
  border-radius: 4%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;

}

.button {
  display: grid;
  place-items: center;
  width: 4em;
  height: 2em;
  border: 1px solid black;
  margin: 0.5em;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.display {
  border: 1px solid black;
  height: 40px;
  margin: 0 25px 10px 25px;
  justify-content: flex-end;
  display: flex;

}

.disabled {
  background-color: gray;
}